# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/ .expo/
dist/
**/dist/
web-build/

# Firebase
.firebase/

# Local env files
.env*
